
<header id="header" class="header fixed-top header-scrolled ">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a class="logo d-flex align-items-center" href="/">
      <img alt="" src="assets/img/code.png" />
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link " href="/#hero">Inicio</a></li>
        <li><a href="/#about">Quienes somos</a></li>
        <li><a class="nav-link " href="/#values">Nuestros valores</a></li>
        <li><a class="nav-link " href="/#features">Nuestros servicios</a></li>
        <li><a class="nav-link " href="/#contact">Contactanos</a></li>
        <li><a class="getstarted " href="/#about">Comenzar</a></li>
      </ul>
      <i class="fa fa-list mobile-nav-toggle d-lg-none"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
