<footer id="footer" class="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
        	<a class="logo d-flex align-items-center" href="/">
			      <img alt="logo" src="assets/img/code.png" />
</a>          <p>Somos una empresa dedicada a ofrecer soluciones de software personalizadas y de vanguardia para satisfacer las necesidades únicas de nuestros clientes</p>
          <div class="social-links mt-3">
              <a class="WhatsApp" title="Escribenos por WhatsApp" target="_blank" href="https://wa.me/86750885">
                <i class="fab fa-whatsapp"></i>
</a>              <a class="Instagram" title="Instagram oficial NicCoders" target="_blank" href="">
                <i class="fab fa-instagram"></i>
</a>              <a class="Facebook" title="NicCoders pagina oficial de FB" target="_blank" href="https://www.facebook.com/NicCoders/">
                <i class="fab fa-facebook"></i>
</a>          </div>
        </div>

        <!--
        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div> -->

        <div class="col-lg-3 col-12 footer-links">
          <h4>Nuestros servicios</h4>
          <ul>
              <li>
                <i class="fas fa-chevron-right"></i>
                <a href="">Desarrollo de Aplicaciones Web</a>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i>
                <a href="">Desarrollo de Aplicaciones Móviles</a>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i>
                <a href="">Consultoría Tecnológica</a>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i>
                <a href="">Diseño de Experiencia de Usuario (UX)</a>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i>
                <a href="">Desarrollo de Sofware a Medida</a>
              </li>
              <li>
                <i class="fas fa-chevron-right"></i>
                <a href="">Desarrollo de Aplicaciones a Escritorio</a>
              </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
          <h4>Contactanos</h4>
          <p>
            Managua, Nicaragua<br><br>
            <strong>Teléfono:</strong>
            86750885<br>
            <strong>Correo:</strong>&nbsp;<a href="mailto:contact@niccoders.com">contact&commat;niccoders.com</a>
            <br>
          </p>
        </div>
     </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>NicCoders</span></strong>. All Rights Reserved
    </div>

  </div>

</footer>
<a class="back-to-top d-flex align-items-center justify-content-center" href="#">
  <i class="fas fa-arrow-up-long"></i>
</a>
