<section id="about" class="about">

  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h2>¿Quiénes Somos?</h2>
          <font size="5" color="#000099"><b>Misión</b></font>
          <p >"Facilitar la transformación digital al desarrollar soluciones de software innovadoras y de alta calidad que satisfagan las necesidades únicas de nuestros clientes. Nos comprometemos a proporcionar servicios y productos que impulsen la eficiencia, la productividad y el éxito empresarial, manteniendo siempre los más altos estándares de ética y profesionalismo."</p>
          <font size="5" color="#000099"><b>Visión</b></font>
          <p>"Ser reconocidos como líderes en el desarrollo de software a nivel global, anticipando y respondiendo de manera proactiva a las demandas cambiantes del mercado. Buscamos ser pioneros en la adopción de tecnologías emergentes, estableciendo estándares de excelencia y siendo el socio preferido para empresas que buscan soluciones tecnológicas avanzadas y confiables."</p>
          <!--
          <div class="text-center text-lg-start">
            <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Read More</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
           -->
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">
      </div>

    </div>
  </div>

</section>
